<!-- Main Slider Start -->
<app-main-banner></app-main-banner>
<!-- Main Slider End -->


<!-- Call to Action Start -->
<app-call-to-action></app-call-to-action>

<!-- Call to Action End -->

<!-- Featured Product Start -->
<app-featured-product></app-featured-product>
<!-- Featured Product End -->

