<div class="footer">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Contacto</h2>
                  <div class="contact-info">
                      <p><i class="fa fa-map-marker"></i>Av Americas No 68 A 94, Bogotá.</p>
                      <p><i class="fa fa-envelope"></i>5conline@gmail.com</p>
                      <p><i class="fa fa-phone"></i>312-456-7890</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Siguenos en:</h2>
                  <div class="contact-info">
                      <div class="social">
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                          <a href=""><i class="fab fa-youtube"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Bonus</h2>
                  <ul>
                      <li><a href="#">Nosotros</a></li>
                      <li><a href="#">Politicas de privacidad</a></li>
                      <li><a href="#">Terminos & Condiciones</a></li>
                  </ul>
              </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                  <h2>Purchase Info</h2>
                  <ul>
                      <li><a href="#">Pyament Policy</a></li>
                      <li><a href="#">Shipping Policy</a></li>
                      <li><a href="#">Return Policy</a></li>
                  </ul>
              </div>
          </div> -->
      </div>
  </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-6 copyright">
              <p>Copyright &copy; <a href="https://htmlcode.com">5C Online</a>. All Rights Reserved</p>
          </div>

          <div class="col-md-6 template-by">
              <p>Template By <a href="https://htmlcode.com">5C Online</a></p>
          </div>
      </div>
  </div>
</div>
