<div class="call-to-action">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-md-6">
              <h1>Reserva tu espacio Hoy !!!</h1>
          </div>
          <div class="col-md-6">
              <a href="tel:0123456789">312-456-7890</a>
          </div>
      </div>
  </div>
</div>
