<div class="featured-product product">
  <div class="container-fluid">
      <div class="section-header">
          <!-- <h1>Featured Product</h1> -->
          <h1>Ofertas con el 15 % de Descuento !!!</h1>
      </div>
      <div class="row align-items-center product-slider product-slider-4">
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Futbol 5 Colombia S.A.S</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/img/product1.jpeg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>150.000</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Apartar</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Fabian vargas indoor</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/img/product2.jpeg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>210.000</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Apartar</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Cancha super gol</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/img/product3.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>190.000</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Apartar</a>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Product Name</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="img/product-4.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div> -->
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Planeta gol </a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/img/product6.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>185.000</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Apartar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
