<div class="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
            <!-- Componente navbar -->
            <app-navbar></app-navbar>

          </div>
          <div class="col-md-6">
            <!-- Componente Slider principal -->
              <app-banner></app-banner>
          </div>
          <div class="col-md-3">
              <div class="header-img">
                  <div class="img-item">
                      <img src="../assets/img/lewa.jpg" />
                      <!-- <a class="img-text" href="">
                          <p>Some text goes here that describes the image</p>
                      </a> -->
                  </div>
                  <div class="img-item">
                      <img src="../assets/img/frello1.jpg" />
                      <!-- <a class="img-text" href="">
                          <p>Some text goes here that describes the image</p>
                      </a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
