<div class="bottom-bar">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-md-3">
              <div class="logo">
                  <a href="index.html">
                      <img src="assets/img/logo.png" alt="Logo">
                  </a>
              </div>
          </div>
          <div class="col-md-6">
            <!-- Componente Search -->
            <app-search></app-search>

          </div>
          <div class="col-md-3">
              <div class="user">
                  <a href="wishlist.html" class="btn wishlist">
                      <i class="fa fa-heart"></i>
                      <span>(0)</span>
                  </a>
                  <a href="cart.html" class="btn cart">
                      <i class="fa fa-shopping-cart"></i>
                      <span>(0)</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
