<div class="header-slider normal-slider">
  <!-- <div class="header-slider-item">
      <img src="assets/img/canchaSlide0.jpg" alt="Slider Image" />
      <div class="header-slider-caption">
          <p>Some text goes here that describes the image</p>
          <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
      </div>
  </div>
   <div class="header-slider-item">
      <img src="assets/img/canchaSlide1.jpg" alt="Slider Image" />
      <div class="header-slider-caption">
          <p>Some text goes here that describes the image</p>
          <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
      </div>
  </div> -->
  <div class="header-slider-item">
      <img src="assets/img/canchaSlide2.jpg" alt="Slider Image" />
      <div class="header-slider-caption">
          <p>Descuentos del 30%</p>
          <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
      </div>
  </div>
</div>
